/***** Start Element Styling *****/
html {
  font-family: sans-serif;
}

body {
  max-width: 1260px;
  margin: 0 auto;
  background: #dce9f2;
}

h1, h2, h3, h4 {
  color: #27475e;
}

a {
  color: #377ba8;
  text-decoration: none;
}

hr {
  border: none;
  border-top: thin solid #dce9f2;
}

p {
  line-height: 25px;
}

ul {
  line-height: 25px;
  list-style-type: square;
}

nav {
  margin: 0.5em;
}
/***** End Element Styling *****/

/***** Start Common Classes *****/
.above-fold {
  /* Everything above the bottom of the screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.centered {
  text-align: center;
}

.non-breaking {
  display: inline-block;
}
/***** End Common Classes *****/

/***** Start Header Section *****/
.page-header {
  text-align: center;
  border-bottom: thin solid #dce9f2;
  padding: 15px;
  background: white;
}

.page-header > header {
  padding: 0.4em 0 0.4em 0;
  text-align: center;
  font-size: 1.5em;
}

.header-logo {
  max-width: 100%;
}
/***** End Header Section *****/

/***** Start Content Section *****/
.content {
  background: white;
  padding: 24px;
  flex-grow: 1;
}

@media(min-width: 1024px) {
  .content {
    padding: 48px 10%;
  }
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}
/***** End Content Section *****/

/***** Start Footer Section *****/
.footer {
  text-align: center;
  padding: 3em 1em 3em 1em;
  font-size: 0.85em;
  background: white;
  border-top: thin solid #dce9f2;
}

.footer p {
  line-height: normal;
}

.footer .footer-section:not(:first-child) {
  padding-top: 30px;
}

.footer .social {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  text-align: center;
}

.footer .social img:hover {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  opacity: .5;
}
/***** End Footer *****/

/***** Start Home Page *****/
.home-boat-house {
  margin: 5px 0;
  text-align: left;
}

.home-reach {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  margin: 0 auto;            
}

.flag {
  width: 2rem;
  height: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.twitter-tweet {
  margin: 0 auto;
}

/***** End Home Page *****/
