# Note: This requirements.txt file is here for use by Heroku. See here for more
# info: https://devcenter.heroku.com/articles/python-pip
#
# For dev dependencies, use one of the following based on your OS:
#
# - requirements/dev_osx.txt
# - requirements/dev_windows.txt

-r ./requirements/prod.txt
