# Use this command:
# >>> uv pip compile requirements.in -o requirements.txt
# To compile the below dependencies.

# ==========================================================
# Core
# ==========================================================

Celery
click
flasgger
Flask-Admin==v2.0.0a4
Flask-BasicAuth
Flask-Caching
flask-cors
Flask-DB
Flask-Mail
Flask-SQLAlchemy
flask-talisman
Flask
flower
Jinja2
markdown
pandas
psycopg[binary]
pyarrow
python-dotenv
PyYAML
redis
requests
rich-click
SQLAlchemy
sentry-sdk[flask]
tenacity
tweepy
pydantic_settings
pydantic
pytz

# https://github.com/pallets-eco/flask-admin/issues/2548
wtforms==3.1.2

# ==========================================================
# Testing
# ==========================================================

pytest
pytest-celery
pytest-cov
pytest-env
pytest-postgresql
schemathesis

# ==========================================================
# Misc. dev stuff
# ==========================================================

ruff
uv
pre-commit

# ==========================================================
# Webserver
# ==========================================================

gunicorn
inotify  # For --reload flag
