# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# This file is used to deploy the website to Heroku
#
# See here for more:
# https://devcenter.heroku.com/articles/python-pip
#
# For dev dependencies on a local machine, use one of the following based on
# your OS (instead of this file):
#
# - On Windows: pip install requirements/dev_windows.txt
# - On OSX: pip install requirements/dev_osx.txt
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

-r ./requirements/prod.txt
