# ==========================================================
# Core
# ==========================================================

Celery
click
flasgger
Flask-Admin
Flask-BasicAuth
Flask-Caching
flask-cors
Flask-DB
Flask-Mail
Flask-SQLAlchemy<3
flask-postgres
flask-talisman
Flask
flower
Jinja2
markdown
pandas
psycopg2
pyarrow
python-dotenv
PyYAML
redis
requests
rich-click
SQLAlchemy
tenacity
tweepy

# ==========================================================
# Testing
# ==========================================================

pytest
pytest-celery
pytest-cov
pytest-postgresql<4.0.0
pytest-flask-sqlalchemy
schemathesis

# ==========================================================
# Misc. dev stuff
# ==========================================================

flake8
isort
pip-tools
pre-commit

# ==========================================================
# Webserver
# ==========================================================

gunicorn>19
