{#
    This file overrides the base 'admin/index.html' template.
#}
{% extends 'admin/master.html' %}
{% block body %}
    <h3>Welcome to the Flagging Website admin panel!</h3>
    <p>
        Documentation and more info <a href="https://codeforboston.github.io/flagging/admin/">here</a>.
    </p>
    <br />
    <h4>Reset cache</h4>
    <p>
        We use server-side caching to make our website faster and to ensure we don't run up a budget for our free web
        hosting.
    </p>
    <p>
        For some technical reasons, the server-side caching may have some problems. Click the below button to manually
        reset the cache if you see any problems with it!
    </p>
    <a class="btn btn-primary" href="/admin/reset-cache"><i class="glyphicon glyphicon-refresh"></i>Reset Cache</a>
{% endblock %}
