import pandas as pd
import requests

# Get data and parse returned JSON
url = "{{ url_for('api.boathouses_api', _external=True) }}"
res = requests.get(url).json()
records = res["boathouses"]

# Turn into Pandas DataFrame
df = pd.DataFrame(records)
print(df.head())
