<!DOCTYPE html>
{#
    This is the base template for the Flagging Website. Each publicly visible
    page should extend this template. The `title` and `content` blocks need to
    be added in each child template that extends of this one. If necessary, you
    can also extend `head`, `header`, and `footer`.

    This template is built using Jinja. If you are unfamiliar with Jinja
    templating, check out the documentation here:

    https://jinja.palletsprojects.com/en/2.11.x/templates/
#}
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - CRWA Flagging Program</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="CRWA Flagging - {{ self.title() }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ url_for('static', filename='images/og_preview.png', _external=True) }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:description" content="CRWA program for monitoring the Charles River water quality.">
    <meta name="twitter:title" content="CRWA Flagging - {{ self.title() }}">
    <meta name="twitter:description" content="CRWA program for monitoring the Charles River water quality.">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/og_preview.png', _external=True) }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="crwaflagging">
    <meta name="twitter:creator" content="codeforboston">
    <meta name="description" content="CRWA program for monitoring the Charles River water quality.">
    <meta name="keywords" content="CRWA, Charles River, Flagging, Water Quality, E. Coli, Cyanobacteria">
    <meta name="author" content="Code for Boston">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=STYLE_CSS_MD5) }}" />
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    {% endblock %}
</head>

<body>
    <div class="above-fold">
        <div class="page-header">
            <div class="header-content">
            {% block header %}
                <div class="logo-and-links">
                    <div class="header-logo">
                        <a href="{{ url_for('flagging.index') }}">
                            <img src="{{ url_for('static', filename='images/crwa_logo.png') }}" alt="Charles River Watershed Association logo" />
                        </a>
                    </div>
                    <nav>
                        {% include '_nav.html' | indent(24) %}
                    </nav>
                </div>
                <div class="social-section">
                    <span class="social">
                        <a href="https://twitter.com/crwaflagging">{{ TWITTER_SVG }}</a>
                    </span>
                    <span class="social">
                        <a href="https://github.com/codeforboston/flagging">{{ GITHUB_SVG }}</a>
                    </span>
                </div>
                <button class="hamburger-button" type="button" onclick="toggleDropdown()">
                    {{ HAMBURGER_SVG }}
                </button>
                <script>
                    function toggleDropdown() {
                        // Add or remove "hidden" class from div
                        const menu = document.getElementsByClassName("dropdown-menu")[0];
                        menu.classList.toggle("hidden");
                    }

                    // Hide dropdown when screen is large
                    const mediaQueryList = window.matchMedia("(min-width: 681px)"); // px here should be the same as in our CSS file media queries
                    mediaQueryList.addListener(function(mediaQuery) {
                        if (mediaQuery.matches) {
                            // Screen is large so hide dropdown
                            const menu = document.getElementsByClassName("dropdown-menu")[0];
                            menu.classList.add("hidden");
                        }
                    })
                </script>
            </div>
            <div class="dropdown-menu hidden">
                {% include '_nav.html' | indent(16) %}
            </div>
        </div>
        <section class="body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                            {% for message in messages %}
                                <div class="flash-message">{{ message | safe }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endblock %}
            <h1 class="page-title">{{ self.title() }}</h1>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    <section class="footer">
        {% block footer %}
        <div class="footer-section">
            <p><strong>Charles River Watershed Association</strong></p>
            <p><a href="https://goo.gl/maps/sTNPQ5fLwnV3ja7A7" target="_blank">190 Park Rd, Weston, MA 02493</a></p>
            <p>
                Phone: <a href="tel:+17817880007">(781) 788-0007</a> &nbsp; &nbsp;
                Email: <a href="mailto:charles@crwa.org">charles@crwa.org</a>
            </p>
        </div>
        <div class="footer-section">
            <p>This website was built by <a href="https://www.codeforboston.org/" class="non-breaking" target="_blank">Code for Boston</a> in collaboration with <a href="https://www.crwa.org/" class="non-breaking">Charles River Watershed Association</a>.</p>
            <span class="social">
                <a href="https://twitter.com/crwaflagging">{{ TWITTER_SVG }}</a>
            </span>
            <span class="social">
                <a href="https://github.com/codeforboston/flagging">{{ GITHUB_SVG }}</a>
            </span>
        </div>
        {% endblock %}
    </section>
{% block tail %}{% endblock %}
</body>
</html>
