{#
    The website navigation. This is separate from '_base.html' for convenience, and also because it is in two places
    inside '_base.html' so this makes edits consistent across both locations.
#}
<a class="nav-link" href="{{ url_for('flagging.index') }}">Home</a>
<a class="nav-link" href="{{ url_for('flagging.about') }}">About</a>
<a class="nav-link" href="{{ url_for('flagging.boathouses') }}">Boathouses</a>
<a class="nav-link" href="{{ url_for('flagging.model_outputs') }}">Model Outputs</a>
<a class="nav-link" href="{{ url_for('flagging.api_index') }}">API</a>
