<!DOCTYPE html>
{#
    This is the base template for the Flagging Website. Each publicly visible
    page should extend this template. The `title` and `content` blocks need to
    be added in each child template that extends of this one. If necessary, you
    can also extend `head`, `header`, and `footer`.

    This template is built using Jinja. If you are unfamiliar with Jinja
    templating, check out the documentation here:

    https://jinja.palletsprojects.com/en/2.11.x/templates/
#}
<html lang="en">

<head>
    {% block head %}
    <title>
        {% block title %}{% endblock %} - CRWA Flagging Program
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" type="image/ico" href="../static/favicon/favicon.ico">
    {% endblock %}
</head>

<body>
    <section class="page-header">
        {% block header %}
        <img src="{{ url_for('static', filename='images/CRWA_banner_main.jpg') }}" />
        <header>{{ self.title() }}</header>
        <div class="navigation">
            <a href="/">Home</a>
            | <a href="/output_model">Detailed Outputs</a>
        </div>
        {% endblock %}
    </section>
    <section class="content">{% block content %}{% endblock %}</section>
    <section class="footer">
        {% block footer %}
        <hr /><br />
        <div class="footer-content">
            <strong>Charles River Watershed Association</strong><br />
            <a href="https://goo.gl/maps/sTNPQ5fLwnV3ja7A7" target="_blank">190 Park Rd, Weston, MA 02493</a><br />
            <strong>t</strong> (781) 788-0007 &nbsp; &nbsp;
            <strong>e</strong> <a href="mailto:charles@crwa.org">charles@crwa.org</a><br />
            <br />
            This website was built by <a href="https://www.codeforboston.org/" target="_blank">Code for Boston</a> in
            collaboration with <a href="https://www.crwa.org/">Charles River Watershed Association</a>.<br />
        </div>
        {% endblock %}
    </section>
</body>