{% extends '_base.html' %}
{% block title %}Boathouses{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='flags.css', v=FLAGS_CSS_MD5) }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <h2>Flags</h2>
    <div class="widget-container">
    {% include get_widget_filename(version=1) %}
    </div>
    <h2>Map</h2>
    <p>
        Below is a map showing the Charles River boathouses with their current flag statuses. Clicking on a flag will
        show the name of the boathouse.
    </p>
    <div class="widget-container">
    {% include get_widget_filename(version=2) %}
    </div>
{% endblock %}
