{% block content %}
    {% for row in flags %}
    <div style="white-space:nowrap; overflow:scrollable">
        {% for boathouse, flag in row.items() %}
        <div style="display:inline-block; margin:1em">
            {% if flag %}
                <img class="flag" src="{{ url_for('static', filename='images/blue_flag.jpg') }}" />
            {% else %}
                <img class="flag" src="{{ url_for('static', filename='images/red_flag.jpg') }}" />
            {% endif %}

            <br/>
            <br/>
            {{ boathouse }}
        </div>
        {% endfor %}
    </div>
    <br/>
    <br/>
    {% endfor %}
{% endblock %}