{% extends "base.html" %}
{% block title %}Water Quality Flagging Overview{% endblock %}
{% block content %}
    <h2>Overview</h2>
    <p>
        The following predicted concentrations of Fecal Indicator Bacteria (FIB) are
        based on modeled correlations between FIB and weather or water conditions.
    </p>
    <p>
        Flagging is based on safety thresholds for boating. The weather and water
        data is sourced from the CESN weather station at Community Boating and the
        USGS Waltham river flow gauge.
    </p>
    <h2>Current Water Quality</h2>
    <p>
        Water quality flags, with forecasted E.coli concentrations and
        probabilities (updated hourly):
    </p>
    {% for reach, flag in flags.items() %}
    <div>
        Reach {{ reach }}
        {% if flag %}
            <img class="flag" src="{{ url_for('static', filename='images/blue_flag.jpg') }}" />
        {% else %}
            <img class="flag" src="{{ url_for('static', filename='images/red_flag.jpg') }}" />
        {% endif %}
    </div>
    {% endfor %}
    <div style="position: relative;overflow: hidden;width: 100%;padding-top: 75%">
        <iframe src=" http://127.0.0.1:5000/flags" style="position: absolute;top: 0;left: 0;bottom: 0;right: 0; width: 100%; height: 100%"></iframe>
    </div>

{% endblock %}