{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='dataframe.css') }}" />
{% endblock %}
{% block title %}Detailed Outputs{% endblock %}
{% block content %}
    {% for reach, tbl in tables.items() %}
        <div class="table-wrapper">
            <style>


            </style>
            <!--div><h2>Predictive Model for Reach {{ reach }}
                <div class="tooltip" title="{{ boathouses_by_reach.get(reach) }}">{{INFO_ICON}}</div>
            </h2></div-->

            <div><h2>Predictive Model for Reach {{ reach }}
                <div class="tooltip">{{INFO_ICON}}
                    <pre class="tooltiptext">{{ boathouses_by_reach.get(reach) }}</pre>
                </div></h2>
            </div>
            {{ tbl | safe }}
        </div>
    {% endfor %}
{% endblock %}