{#
    Based on code by @yeyezizhi:
    https://gist.github.com/yeyezizhi/046fa6e86c1cb3452e90c2dafcdb4915

    The editor.md tool is a bit overkill; we just want to support extremely
    basic markdown, so we use SimpleMDE.

    This page is designed for the live options interface. We remove the
    "navlinks" (i.e. replace it with an empty block) because there is nothing to
    navigate (live options is just one row in the db).
#}
{% extends 'admin/model/edit.html' %}
{% block body %}
  {% block navlinks %}{% endblock %}
  {% block edit_form %}
    {{ lib.render_form(form, return_url, extra=None, form_opts=None) }}
  {% endblock %}
{% endblock %}
{% block tail %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript">
        var editor = new SimpleMDE({ element: $('#flagging_message')[0] });
    </script>
{% endblock %}
