{% extends "admin/base.html" %}
{% block body %}
    <p>Logged out. Redirecting...</p>
{% endblock %}
{% block tail %}
    {{ super() }}
    <script>
        $(document).ready(setTimeout(function(){
            $.ajax({
               async: false,
               type: "GET",
               url: "{{ url_for('admin.index') }}",
               username: "x-logout",
               password: "x-logout"
            })
            .done(function(){
            })
            .fail(function(){
                window.location.href = "{{ url_for('flagging.index') }}";
            });
        }, 500));
    </script>
{% endblock %}
