{#
    You can pass the following three params into this template.

    - task_id (str)
    - status_url (str)
    - callback_url (str)
#}
{% extends "admin/base.html" %}
{% block body %}
    <p>
        Task ID: <code>{{ task_id }}</code>
    </p>
    <h2>Status</h2>
    <p id="loading_status"></p>
{% endblock %}

{% block tail %}
    <script>
        function checkStatus(){
            $.getJSON({
                url: "{{ status_url | safe }}",
                success: function(data){
                    switch(data.status) {
                        case "RETRY":
                        case "STARTED":
                        case "PENDING":
                            $('#loading_status').html('<img src="{{ url_for('static', filename='images/spinning_circle.gif') }}" alt="Loading" style="max-width:200px;height:auto;" />')
                            break;
                        case "SUCCESS":
                            $('#loading_status').html('<a href="{{ callback_url }}"><span class="btn btn-primary" id="status_button"><i class="glyphicon gl/yphicon-ok"></i> Done<span></a>')
                            clearInterval(intervalId)
                            break;
                        case "FAILURE":
                            $('#loading_status').html('<span class="btn btn-primary" id="status_button"><i class="glyphicon glyphicon-remove"></i> Failure</span>')
                            clearInterval(intervalId)
                            break;
                        default:
                            $('#loading_status').html('<span class="btn btn-primary" id="status_button"><i class="glyphicon glyphicon-question-sign"></i> Unknown</span>')
                            break;
                    }
                }
            })
        }
        var intervalId = window.setInterval(checkStatus, 5000)
        $(document).ready(checkStatus)
    </script>
{% endblock %}
