{% extends '_base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <h2>Flagging Program</h2>
    <p>
        Of the many services that the CRWA provides to the greater Boston community, one of those is monitoring whether it is safe to boat in the Charles River. The CRWA
        Flagging Program uses a system of color-coded flags to indicate whether or not the river's water quality is safe for boating at 13 boating locations between Watertown and Boston.
        Flag colors are based on <i>E. coli</i> and cyanobacteria (blue-green algae) levels, as well as if a CSO discharge has occurred in the last 48 hours.
        Blue flags indicate suitable boating conditions and red flags indicate potential health risks.
        (<a href="https://www.crwa.org/flagging-program.html">CRWA Website</a>)
    </p>
    <div class="shrink-youtube">
        <div class="youtube-container">
            <iframe src="https://www.youtube.com/embed/a_uxjbWcXAI"
                    allow="accelerometer; clipboard-write; encrypted-media; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
    <h2>Water Quality</h2>
    <p>
        CRWA conducts water quality sampling every week during the peak recreational season in the Lower Basin
        (final 10 miles of the river from the Watertown Dam to the New Charles River Dam) from May to late October.
        During monitoring events, CRWA measures water temperature and depth and collects water quality samples at four sampling locations.
    </p>
    <img class="map_img" src="{{ url_for('static', filename='images/boathouse_map.png') }}" alt="Map of the 13 boathouses for the 4 reaches (as of 2025)"/>
    <p>
        G&L Laboratory in Quincy analyzes the samples for <i>E. coli</i> bacteria. Water temperature and depth are measured in situ with a digital field thermometer
        and a digital depth finder, respectively. Sampling locations are center channel sites, upstream of the following bridges: North Beacon Street,
        Larz Anderson Memorial Bridge, Boston University Bridge, and Longfellow Bridge. All samples are manual grab samples collected from a boat.
        (<a href="https://www.crwa.org/s/2024-Flagging-Report_FINAL-1.pdf">2024 Flagging Report</a>)
    </p>
    <h3><i>E. Coli</i></h3>
    <p>
        <i>E. coli</i> are bacteria found in the environment, foods, and intestines of people and animals. <i>E. coli</i> are a large and diverse group of bacteria. Although most strains of <i>E. coli</i> are harmless,
        others can make you sick. Some kinds of <i>E. coli</i> can cause diarrhea, while others cause urinary tract infections, respiratory illness and pneumonia, and other illnesses."
        (<a href="https://www.usgs.gov/special-topic/water-science-school/science/bacteria-and-e-coli-water?qt-science_center_objects=0#qt-science_center_objects">USGS</a>)
        CRWA estimates <i>E. coli</i> bacteria levels using models that take into account a variety of environmental factors including rainfall and river flow.
        CRWA collects water samples weekly to verify the model forecasts.
        (<a href="https://www.crwa.org/cyano-monitoring">CRWA Website</a>)
    </p>
    <h3>Cyanobacteria</h3>
    <p>
        Cyanobacteria cause a multitude of water-quality concerns, including the potential to produce taste-and-odor causing compounds and toxins that are potent enough to poison animals and humans.
        Taste-and-odor compounds and toxins are of particular concern in lakes, reservoirs, and rivers that are used for either drinking water supplies or full body contact recreation."
        (<a href="https://www.usgs.gov/centers/kswsc/science/cyanobacterial-blue-green-algal-blooms-tastes-odors-and-toxins-0?qt-science_center_objects=0#qt-science_center_objects">USGS</a>)
        Cyanobacteria, also called blue-green algae, are microscopic cells that naturally grow in rivers and lakes. Cyanobacteria populations can explode in warm water with excess nutrients, and exposure
        to these blooms can have negative health effects for humans, animals, and ecosystems. CRWA monitors cyanobacteria levels in the Charles River Basin in Boston and Cambridge during the summer and
        reports high levels to the Department of Public Health.
        (<a href="https://www.crwa.org/cyano-monitoring">CRWA Website</a>)
    </p>
    <h2>Predictive Models</h2>
    <p>
        As part of our public notification program, CRWA uses statistical models to predict the likelihood that water quality will be in violation of the State's recreational water quality standard threshold value at each of our four sampling reaches.
        The models use antecedent rainfall, river flow, relative humidity, photosynthetic active radiation, gage height, dew point, and pressure to make predictions every hour throughout the recreational season. Models are necessary to produce real time water quality forecasts
        because <i>E. coli</i> analysis requires at least 24 hours between sample collection and result reporting. These hourly forecasts allow boaters to make informed decisions about their desired contact with the river based on current
        river water quality conditions.
        (<a href="https://www.crwa.org/s/2024-Flagging-Report_FINAL-1.pdf">2024 Flagging Report</a>)
    </p>
    <p>
        CRWA's predictive models utilize live data from a HOBOlink RX3000 Remote Monitoring Station device, which is
        stationed at a boathouse on the Charles River. (You can download the latest raw data from this device
        <a href="Update with new link https://hobolink.com/p/279ab82333aa3378b932370ed5ddc712">here</a>.) Additionally, the model utilizes
        data from two USGS stream gauges located in Waltham and Brookline.</a>
    </p>
    <h2>Credits</h2>
        <!-- <img class="auth-img" src="{{ url_for('static', filename='images/daniel_reeves_photo.jpg') }}" alt="Photo of Daniel Reeves near the Charles river." /> -->
        <p>
            This website was built by volunteers at <a href="https://www.codeforboston.org/">Code for Boston</a> in
            collaboration with the Charles River Watershed Association, and is currently maintained on a volunteer
            basis by <a href="https://www.linkedin.com/in/daniel-reeves-27700545/" target="_blank">Daniel Reeves</a>,
            a former project leader at Code For Boston.
        </p>
        <p>
            The predictive model currently being used for the flagging program website was developed and deployed by <a href="https://www.linkedin.com/in/laura_xia">Laura Xia</a>
            (MIT, class of 2026).
            She has updated the model with new data to reflect the changing conditions of the Charles River.
            She has also updated the model itself to regress on the log E. coli concentration directly instead of using a logistic regression.
            Various aspects like feature selection, weight balancing, and mixed effects were explored in depth in this process.
        </p>
        <p>
            This website is open source. You can view the source code and a list of contributors
            <a href="https://github.com/codeforboston/flagging">here</a>. Documentation for developing and operating this
            website is available <a href="https://codeforboston.github.io/flagging">here</a>.
        </p>
    <br />
{% endblock %}
