{% extends "_base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='dataframe.css', v=DATAFRAME_CSS_MD5) }}" />
{% endblock %}
{% block title %}Predictive Model Outputs{% endblock %}
{% block content %}
    <p>
        These outputs are predictions of <i>E. coli</i> levels, based on real-time data that the CRWA collects about the
        weather and the streams flow of the Charles River.
    </p>
    <p>
        The model reports <i>E. coli</i> predictions by reach. Hover over the info icon to see which boathouses are
        associated with each reach.
    </p>
    <p>
        The model only predicts <i>E. coli</i>, not combined sewage overflows (CSOs) or cyanobacteria blooms. These
        events may leave the Charles River unsuitable for recreational activities, even when the predictive model has a
        "safe" prediction.
    </p>
    {% for reach, tbl in tables.items() %}
        <div class="table-wrapper">
            <div class="table-header-wrapper">
                <h2 style="display: inline;">Predictive Model for Reach {{ reach }}</h2>
                <div class="tooltip">{{ INFO_ICON }}
                    <div class="tooltiptext">
                        <strong>Boathouses:</strong>
                        <ul>
                        {% for boathouse in boathouses_by_reach.get(reach) %}
                            <li>{{ boathouse }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {{ tbl | safe }}
        </div>
    {% endfor %}
<script>
// Somewhat adopted from here:
// https://stackoverflow.com/a/51066294/8882701

var my_tooltips = document.querySelectorAll(".tooltip");
my_tooltips.forEach(function(my_tooltip, index){                // For each my_tooltip
  my_tooltip.addEventListener("mouseover", position_tooltip); // On hover, launch the function below
})

function position_tooltip(){
  // Get .my_tooltiptext sibling
  var tooltip = this.parentNode.querySelector(".tooltip").querySelector(".tooltiptext");
  tooltip.style.left = '15px';

  var tooltip_rect = tooltip.getBoundingClientRect();

  // Corrections if out of window
  var tipX = -Math.max(tooltip_rect.x + tooltip_rect.width - window.innerWidth, 0);

  console.log(window.innerWidth);
  console.log(tooltip_rect.x);
  console.log(tooltip_rect.width);

  // Apply corrected position
  tooltip.style.left = 15 + tipX + 'px';

}
</script>
{% endblock %}
