name: Quality check

on:
- push
- pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12-alpine
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: flagging-test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis:6
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v4
    - name: Python Setup
      uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libpq-dev
        uv pip install -r requirements.txt
    - name: Run pre-commit
      run: pre-commit run -a
    - name: Run Celery worker
      run: flask celery worker &
      env:
        FLASK_ENV: testing
    - name: Run tests
      run: python -m pytest -vv -m "not auth_required and not check_grammar" ./tests
      env:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
